<header id="navigation" class="header">
	<div class="logo">
		<a href="#!">
			<img src="http://percolate.com/static/images/logo.png" alt="Percolate">
		</a>
	</div>
	<!-- PRIMARY NAVIGATION -->
	<nav class="primary-nav">
		<ul>
			<li><a href="http://percolate.com/">Platform</a></li>
			<li><a href="http://percolate.com/">Services</a></li>
			<li><a href="http://percolate.com/">Clients</a></li>
			<li><a href="http://percolate.com/">Company</a></li>
			<li><a href="http://percolate.com/">Insights</a></li>
			<li><a href="http://percolate.com/">Blog</a></li>
		</ul>
	</nav>
	<!-- SECONDARY NAVIGATION -->
	<nav class="secondary-nav">
		<ul>
			<li><a href="http://percolate.com/">We're Hiring</a></li>
			<li><a href="http://percolate.com/">Login</a></li>
			<li class="request-demo"><a href="http://percolate.com/">Request a Demo</a></li>
		</ul>
	</nav>
</header>