<section class="quote">
	<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum natus asperiores veniam temporibus, corporis qui reiciendis magnam perferendis illo at obcaecati, dolore consequuntur ratione quidem."</p>
	<div class="quotee">
		<img src="" alt="">
		<span class="testimonial">George Foreman -- Grilling Veteran</span>
	</div>
</section>