<div class="splash-frame parallax-window" data-parallax="scroll" data-img-src="../images/valve-splash.jpg">
	<section class="splash-box">
		<div class="splash-content">
			<img src="../images/valve-logo.png" alt="Valve">
			<h1>Lorem Ipsum Dolor Sit</h1>
		</div>
	</section>
</div>