@blue-text: #0a506c;
@lg: 1024px;
@md: 768px;
@sm: 667px;
@xs: 414px;

@import "../bower_components/flexible.gs/dynamic/less/flexiblegs/flexiblegs.less";
@import "navbar.less";

body {
  overflow: hidden;
}
.column {
  background: #3A99D8;
  color: #ffffff;
  line-height:50px;
}
ul {
  background: white;
  padding-left:0;
  list-style:none;
}
a {
  display:block;
  text-decoration:none;
  background: white;
  color: @blue-text;
  line-height:50px;
}
