@percolate-blue: #0a506c;
@percolate-orange: #f16321;
@content-width: 1100px;

@import "_navbar.less";
@import "_splash.less";
@import "_highlight.less";

html {
  font-family: serif;
}

a {
  text-decoration: none;
}

.content-container {
  margin-top: 60px;
}