<header id="navigation" class="header container">
	<div class="logo">
		<a href="#!">
			<img src="http://percolate.com/static/images/logo.png" alt="Percolate">
		</a>
		<div class="nav-responsive">
			<div class="show-menu"><i class="fa fa-bars fa-lg"></i></div>
		</div>
	</div>
	<div class="primary navigation">
		<ul>
			<li><a href="#!">Platform</a></li>
			<li><a href="#!">Services</a></li>
			<li><a href="#!">Clients</a></li>
			<li><a href="#!">Company</a></li>
			<li><a href="#!">Insights</a></li>
			<li><a href="#!">Blog</a></li>
		</ul>
	</div>
	<div class="secondary navigation">
		<ul >
			<li><a href="#!">We're Hiring</a></li>
			<li><a href="#!">Login</a></li>
			<li class="request-demo"><a href="#!">Request a Demo</a></li>
		</ul>
	</div>
</header>